- transaction_url = person_transaction_url(@recipient, @url_params.merge({:id => @conversation.id.to_s}))
- conversation_url = person_message_url(@recipient, @url_params.merge({:id => @conversation.id.to_s}))

%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.accept_reminder.you_have_not_yet_accepted_or_rejected_request", :date => time_ago(@conversation.created_at.to_date), :title => @conversation.listing_title, :requester => @conversation.starter.name(@conversation.community))

= render :partial => "action_button", :locals => { :text => t("emails.accept_reminder.review_offer"), :url => transaction_url}

%tr
  %td{:align => "left", :style => "padding-bottom: 25px;"}
    %font{body_font}
      = link_to t("emails.accept_reminder.show_thread"), conversation_url
