- conversation_url = person_transaction_url(@recipient, @url_params.merge({:id => @conversation.id.to_s}))

%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.payment_reminder.you_have_not_yet_paid_second_payment", :listing_title => @conversation.listing.title, :other_party_name => @conversation.other_party(@recipient).name(@conversation.community))

%tr
  %td{:align => "left", :style => "padding-top: 25px; padding-bottom: 25px;"}
    = render :partial => "green_action_button", :locals => { :text => t("emails.conversation_status_changed.view_rental"), :url => conversation_url }
